.square-8 {
  width: 85px;
  height: 25px;
  --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #fff 0);
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #0000 90deg,
    #fff 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  animation: s8 1s infinite;
}
@keyframes s8 {
  0% {
    background-size: 25px 100%, 25px 100%, 25px 100%;
  }
  20% {
    background-size: 25px 50%, 25px 100%, 25px 100%;
  }
  40% {
    background-size: 25px 50%, 25px 50%, 25px 100%;
  }
  60% {
    background-size: 25px 100%, 25px 50%, 25px 50%;
  }
  80% {
    background-size: 25px 100%, 25px 100%, 25px 50%;
  }
  100% {
    background-size: 25px 100%, 25px 100%, 25px 100%;
  }
}

.factory-7 {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #fff;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}
.factory-7:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g: linear-gradient(#ccc 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 16px 14px;
  background-repeat: no-repeat;
  animation: f7-1 2s infinite linear, f7-2 2s infinite linear;
}
@keyframes f7-1 {
  0%,
  100% {
    background-position: 0 -50px, 100% -50px;
  }
  17.5% {
    background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px;
  }
  35% {
    background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px;
  }
  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px;
  }
  70%,
  98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px),
      100% calc(100% - 16px);
  }
}
@keyframes f7-2 {
  0%,
  70% {
    transform: translate(0);
  }
  100% {
    transform: translate(200%);
  }
}
