.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    padding-right: 20px;
    /* padding-left:90px; */
    text-decoration: none;
    font-size: 3rem;
    color: white;
    background: var(--chakra-colors-gray-1200);
    transition: 0.4s;
    box-shadow: 3px 3px 0 var(--chakra-colors-alt-300);
    /* transform: skewX(-15deg); */

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 7px 7px 0 var(--chakra-colors-alt-300);
        transition: 0.2s;

        span:nth-child(2) {
            transition: 0.5s;
            margin-right: 20px;
        }

        path.three {
            animation: color_anim 1s infinite 0.2s;
        }

        path.one {
            transform: translateX(0%);
            animation: color_anim 1s infinite 0.6s;
        }

        path.two {
            transform: translateX(0%);
            animation: color_anim 1s infinite 0.4s;
        }
    }

    &:active {
    }

    &:focus {
        box-shadow: 10px 7px 0 var(--chakra-colors-alt-600) !important;
        /* box-shadow: 5px 5px 0 var(--chakra-colors-alt-300); */
        /* box-shadow: 7px 7px 0 var(--chakra-colors-alt-300);
      
           
        

        span:nth-child(2) {
            transition: 0.5s;
            margin-right: 20px;
        }


              
        p {
            color: var(--chakra-colors-brand-300);
        }
        path.three {
            fill: var(--chakra-colors-brand-300);
            animation:color_anim2 1s infinite 0.2s;
        }

        path.one {
            transform: translateX(0%);
            fill: var(--chakra-colors-brand-300);
            animation:color_anim2 1s infinite 0.6s;
        }

        path.two {
            transform: translateX(0%);
            fill: var(--chakra-colors-brand-300);
            animation:color_anim2 1s infinite 0.4s;
        } */
    }

    span {
        transform: skewX(15deg);
        /* padding-right:3rem */
    }
    p {
        transform: skewX(15deg);
        /* padding-right:3rem */
    }

    span.arrows {
    }
    span:nth-child(2) {
        transition: 0.5s;
        margin-right: 0px;
    }

    span:nth-child(2) {
        width: 20px;
        margin-left: 30px;
        position: relative;
        top: 0;
    }

    path.one {
        transition: 0.4s;
        transform: translateX(-60%);
    }

    path.two {
        transition: 0.5s;
        transform: translateX(-30%);
    }
}

.queued {
    box-shadow: 10px 7px 0 var(--chakra-colors-alt-300);

    span:nth-child(2) {
        transition: 0.5s;
        margin-right: 20px;
    }

    p {
        color: var(--chakra-colors-alt-300);
    }
    path.three {
        fill: var(--chakra-colors-alt-300);
        animation: color_anim2 1s infinite 0.2s;
    }

    path.one {
        transform: translateX(0%);
        fill: var(--chakra-colors-alt-300);
        animation: color_anim2 1s infinite 0.6s;
    }

    path.two {
        transform: translateX(0%);
        fill: var(--chakra-colors-alt-300);
        animation: color_anim2 1s infinite 0.4s;
    }

    &:hover {
        box-shadow: 10px 7px 0 var(--chakra-colors-alt-300);
        transition: 0.2s;

        path.three {
            fill: var(--chakra-colors-alt-300);
            animation: color_anim2 1s infinite 0.2s;
        }

        path.one {
            transform: translateX(0%);
            fill: var(--chakra-colors-alt-300);
            animation: color_anim2 1s infinite 0.6s;
        }

        path.two {
            transform: translateX(0%);
            fill: var(--chakra-colors-alt-300);
            animation: color_anim2 1s infinite 0.4s;
        }
    }

    &:focus {
        box-shadow: 10px 7px 0 var(--chakra-colors-alt-300) !important;
    }
}

.game-desc {
    h1 {
        font-size: 2.4rem;
        font-weight: bold;
        color: var(--chakra-colors-gray-0);
    }
    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--chakra-colors-gray-0);
    }
    h3 {
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--chakra-colors-gray-0);
    }
    h4 {
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--chakra-colors-gray-0);
    }
    h5 {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--chakra-colors-gray-0);
    }

    p {
        margin-bottom: 2rem;
        color: var(--chakra-colors-gray-10);

        code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
            background-color: var(--chakra-colors-gray-700);
            padding: 4px;
            border-radius: 4px;
            color: var(--chakra-colors-gray-30);
            margin: 0 2px;
        }
    }

    a {
        color: var(--chakra-colors-brand-300);
        text-decoration: underline;
        &:hover {
        }
    }
    blockquote {
        margin: 12px 0;
        font-family: mono;
        padding-left: 1rem;
        border-left: 3px solid var(--chakra-colors-gray-300);

        p {
            margin: 0;
        }
    }

    pre {
        border-radius: 4px;
        background-color: var(--chakra-colors-gray-700);
        padding: 1rem;
        margin-bottom: 2rem;
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
        /* background-color:var(--chakra-colors-gray-900); */
    }

    table {
        /* background-color: var(--chakra-colors-gray-750); */
        /* background-color: var(--chakra-colors-gray-850); */
        border: 1px solid var(--chakra-colors-gray-800);
        margin: 2rem auto;

        thead {
            border-bottom: 1px solid var(--chakra-colors-gray-800);
        }

        tbody {
        }

        th {
            padding: 0.6rem 1.2rem;
            border-right: 1px solid var(--chakra-colors-gray-800);
            font-weight: 600;
            color: var(--chakra-colors-gray-10);
            background-color: var(--chakra-colors-gray-700);
        }

        tr {
            border-bottom: 1px solid var(--chakra-colors-gray-800);
        }

        td {
            color: var(--chakra-colors-gray-10);
            padding: 0.6rem 1.2rem;
            border-right: 1px solid var(--chakra-colors-gray-800);
            font-weight: 400;
            background-color: var(--chakra-colors-gray-500);
        }
        tr:nth-child(even) {
            /* background-color: var(--chakra-colors-gray-600); */
            /* background-color: var(--chakra-colors-gray-800); */
        }
    }
}

// .gamepage-tablist {
//     .simplebar-content {
//         display:flex;
//         // justify-content: center;
//     }
// }

/**************SVG****************/

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: var(--chakra-colors-gray-0);
    }
    50% {
        fill: var(--chakra-colors-alt-300);
    }
    100% {
        fill: var(--chakra-colors-gray-0);
    }
}

@keyframes color_anim2 {
    0% {
        fill: var(--chakra-colors-alt-300);
    }
    50% {
        fill: var(--chakra-colors-gray-0);
    }
    100% {
        fill: var(--chakra-colors-alt-300);
    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
            0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}
