
.banner-section {
    background-color: var(--chakra-colors-gray-800);
}
.banner-section::before, .banner-section::after {
    position: absolute;
    content: "";
    
    height: 100%;
    bottom: 0;
    background: var(--chakra-colors-brand-500);
    transform: skew(-17deg);
    z-index: 0;
}

.banner-section::before {
    right: 15%;
    /* transform: skew(-17deg) translateY(100%); */
    animation: MoveDownUp 5s linear alternate;
}

.banner-section::after {
    width: 20px;
    right: 9%;
    animation: MoveUpDown 5s linear infinite alternate;
}



.banner-section .overlay {
    position: relative;
    z-index: 1;
}


.banner-section .overlay::before, .banner-section .overlay::after {
    position: absolute;
    content: "";
    width: 395px;
    height: 300px;
    bottom: 0;
    background: linear-gradient(179.33deg, rgba(9, 146, 106, 0) 5%, #09926A 90%);;
    transform: skew(-17deg);
    z-index: -1;
}

.banner-section .overlay::before {
    left: 5%;
    width: 15%;
    animation: MoveDownUp 5s linear infinite alternate;
}

.banner-section .overlay::after {
    width: 20px;
    left: 22%;
    
    /* animation: MoveUpDown 5s linear infinite alternate; */
}

img {
    max-width: 100%;
    height: auto;
}

.banner-section .banner-content {
    /* padding-top: 160px; */
}


.banner-section .ellipse-area {
    width: 100px;
    height: 100px;
    animation: stretch 5s linear infinite;
    position:absolute;
    z-index:1;
}

.banner-section .ellipse-area.ellipse-one {
    top: 5%;
    left: 15%;
}

.banner-section .ellipse-area.ellipse-two {
    top: 18%;
    right: 0%;
}

.banner-section .ellipse-area.ellipse-three {
    top: 40%;
    right: 15%;
}

.banner-section .ellipse-area.ellipse-four {
    right: calc(50% + 50px);
    bottom: calc(50% - 300px);
}

.banner-section .ellipse-area img {
    position: absolute;
}

.banner-section .ellipse-area .ellipse-1 {
    right: 15%;
}

.banner-section .ellipse-area .ellipse-2 {
    right: 5%;
    bottom: 0;
}

.banner-section .ellipse-area .ellipse-3 {
    bottom: 0;
}

.banner-section .ellipse-area.ellipse-two .ellipse-5 {
    bottom: 0;
    right: 25%;
}


.banner-section .btn-item a {
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 0;
    transition: all .3s;
    position:relative;
    padding-top:5.6rem;
    padding-bottom:5.6rem;

    display:flex;
    justify-content: center;
    align-items: center;
}

.banner-section .btn-item a span, .banner-section .btn-item a i {
    color: var(--chakra-colors-gray-900);
    font-weight: 600;
    transition: all .5s ease;
    width:100%;
}

.banner-section .btn-item a::before, .banner-section .btn-item a::after {
    position: absolute;
    content: "";
    background-color: var(--chakra-colors-brand-300);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .3s;
}

.banner-section .btn-item a::after {
    background-color: var(--chakra-colors-brand-500);
    bottom: -100%;
    visibility: hidden;
    opacity: 0;
}

.banner-section .btn-item a.second::before {
    background-color: rgba(0,0,0,0);
}

.banner-section .btn-item a:hover::before, .banner-section .btn-item a:hover::after {
    bottom: 0;
    height: 120%;
    
}

.banner-section .btn-item a:hover::after {
    visibility: visible;
    opacity: 1;
    transition: all .5s;
    color: var(--chakra-colors-gray-0);
}


@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes prixClipFix {
    0% {
      -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
              clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
      -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
              clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
      -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
              clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
      -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
              clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
              clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
  @keyframes leftToRight {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fadeInOut {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  @keyframes rotation {
    100% {
      transform: rotatey(360deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ripple2Ani {
    0% {
      transform: translate(0px, 0px);
    }
    33% {
      transform: translate(-5px, -5px);
    }
    66% {
      transform: translate(5px, 5px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes stretch {
    0% {
      transform: scale(0.8, 0.8);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(0.8, 0.8);
    }
  }
  @keyframes rippleAni {
    0% {
      transform: translate(0px, 0px);
    }
    33% {
      transform: translate(5px, -5px);
    }
    66% {
      transform: translate(-5px, 5px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes rippleAni {
    0% {
      transform: translate(0px, 0px);
    }
    33% {
      transform: translate(5px, -5px);
    }
    66% {
      transform: translate(-5px, 5px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes MoveUpDown {
    0% {
      transform: skew(-17deg) translateY(0);
    }
    100% {
      transform: skew(-17deg) translateY(100%);
    }
  }
  @keyframes MoveDownUp {
    100% {
      transform: skew(-17deg) translateY(0);
    }
    0% {
      transform: skew(-17deg) translateY(100%);
    }
  }


  .box-items {
    z-index: -1;
    top: -35px;
  }
  .box-items .single-item {
    width: 14.5rem;
    height: 14.9rem;
    border: 1px solid var(--chakra-colors-gray-700);
    transition: 0.3s all;
  }
  .box-items .single-item.active-item {
    background: var(--chakra-colors-brand-500);
  }
  .box-items .single-item:hover {
    background: var(--chakra-colors-gray-500);
    opacity: 0.3;
  }

  .display-one {
    font-size: 8rem;
    line-height: 9.68rem;
}

h3 {
    font-size: 3.2rem;
    line-height: 3.84rem;
}
h3 span {
    color: var(--chakra-colors-brand-300);
}
.display-one 
    {
        /* font-family: var(--head-font); */
        color: var(--chakra-colors-gray-0);
        font-weight: 700;
        padding: 0;
        margin: 0;
        display: block;
        text-transform: capitalize;
        transition: all .3s;

        span {
            font-size: inherit;
            font-family: inherit;
            color: var(--chakra-colors-brand-300);
            line-height: inherit;
            font-weight: inherit;
        }
    }

p {
    margin: 0;
    /* font-family: var(--body-font); */
    color: var(--chakra-colors-gray-20);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

.box-style.btn-box {
    padding: 13px 25px;
    display: inline-flex;
    background-color: var(--chakra-colors-brand-300);
    width: initial;
    height: initial;
    font-weight: 600;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.box-style.btn-box:hover {
    color: var(--chakra-colors-gray-0);
    background-color: var(--chakra-colors-brand-500);
}

.box-style.btn-box:hover:before {
    border-radius: 15px;
    
}

.box-style::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: var(--chakra-colors-brand-300);
    transition: all .7s ease;
    z-index: -1;
}

.sub-title {
    margin-bottom: 1.6rem;
}
  .opacity-25 {
    opacity: .25 !important;
}

