.statictext {
  padding: 2rem;
  padding-top: 1px;
  background-color: #fefefe;
  color: #222;
  max-width: 1000px;
  min-width: 280px;

  h1 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
  }

  p {
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    font-size: 12px;
    font-weight: light;
  }

  li {
    margin-top: 0.2rem;
    font-size: 12px;
    font-weight: light;
  }

  ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
