body,
html,
#root,
#app,
#wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#wrapper tr td:nth-child(1) {
    width: 20%;
}
#wrapper tr td:nth-child(2) {
    width: 80%;
}
#wrapper td {
    vertical-align: top;
    text-align: left;
}

.imagebox {
    width: 200px;
    height: 200px;
    margin-right: 0.5rem;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
}
.imagesrc {
    width: 100%;
    height: 100%;
}
.imageupload {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    bottom: 2rem;
    width: 100%;
    text-align: center;
}
.imageremove {
    position: absolute;
    height: 2rem;
    width: 100%;
    line-height: 2rem;
    bottom: 0;
    text-align: center;
}
.imagebox-dragging {
    border: 1px solid #f00;
}
.imagebox .imagesrc img {
    width: 100%;
    height: 100%;
}
