// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

@import './components/styles/constants.scss';

* {
    box-sizing: border-box;
}
html,
body,
#root,
#app {
    height: 100%;
    width: 100%;
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#wrapper-header {
    width: 100%;
    height: 3rem;
    background-color: rgb(0, 52, 104);
}

#wrapper-content {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

#mainmenu {
    width: 92%;
    margin-left: 4%;
    height: 100%;
    position: relative;
    display: flex;
}

#mainmenu a {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 400;
    color: #dadada;
    background-color: rgb(0, 52, 104);
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    transition: background-color 200ms;
}

#mainmenu a:hover {
    background-color: #001b47;
    color: #fff;
}

@media screen and (max-width: 768px) {
    html,
    body {
        font-size: 14px;
    }
    #game-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    html,
    body {
        font-size: 12px;
    }

    #wrapper {
        position: relative;
    }
    #wrapper-header {
        position: fixed;
        z-index: 999;
        bottom: 0px;
        left: 0px;
    }
    #mainmenu {
        // width: 100%;
        // margin-left: 0;
        // flex-flow: row wrap;
    }
    #mainmenu a {
        // width: 100%;
    }

    #game-grid-wrapper {
        width: 80%;
    }
    #game-grid {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }
}

#game-grid-wrapper {
    width: 90%;
    margin: 0 auto;
    z-index: 5;
    position: relative;
}

#game-info {
    display: flex;
    justify-content: center;
}
#game-info-content h3 {
}

#game-info-content h3 span {
    padding-left: 1rem;
    color: #999;
    font-size: 1rem;
    font-weight: normal;
}

#game-grid {
    width: 100%;
    height: 100%;
    display: flex;
    // grid-template-columns: 160px 160px 160px 160px 160px 160px 160px 160px 160px 160px;
    // grid-column-gap: 1rem;
    // grid-row-gap: 1rem;
}

@media screen and (max-width: 700px) {
}
@media screen and (max-width: 400px) {
}

.game-item {
    // width: 100%;
    // height: 100%;
    width: 180px;
    height: 180px;
    padding: 0.3125rem;
    // margin-left: 10px;
    // margin-right: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 200ms;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-item:hover {
    transform: scale(1.1, 1.1);
}
.game-item:hover > .game-title {
    background-color: #ff4c29;
}
.game-item:hover > .game-title span {
}

.game-item img {
    width: 150px;
    height: 150px;
    display: block;
    // width: 100%;
    // height: 100%;
    // border-radius: 4px;
}
.game-title {
    transition: background-color 400ms;
    // display: block;
    // position: absolute;
    // bottom: 0px;
    // left: 0px;
    margin-top: -24px;
    width: 150px;
    font-size: 18px;
    // max-height: 128px;
    font-weight: 700;

    background-color: rgb(0, 52, 104);
    /* opacity: 0.2; */

    overflow: hidden;
    // border-radius: 3px;
}

.game-title span {
    display: block;
    font-weight: normal;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #f3df47;
    text-decoration: none;
    text-align: center;
}

.game-attributes {
}

.game-attributes ul {
    margin: 0;
    margin-top: 0.2rem;
    padding: 0;
}

.game-attributes ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-attributes ul li svg {
}

.game-attributes ul li span {
}

.imagebox {
    width: 200px;
    height: 200px;
    margin-right: 0.5rem;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
}
.imagesrc {
    width: 100%;
    height: 100%;
}
.imageupload {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    bottom: 2rem;
    width: 100%;
    text-align: center;
}
.imageremove {
    position: absolute;
    height: 2rem;
    width: 100%;
    line-height: 2rem;
    bottom: 0;
    text-align: center;
}
.imagebox-dragging {
    border: 1px solid #f00;
}
.imagebox .imagesrc img {
    width: 100%;
    height: 100%;
}

.gamescreen {
    width: 100%;
    height: 100%;
    border: 0;
}

#gameframe {
    //padding: 10px;
    background: #eee;
    //box-sizing: border-box;
    //resize: horizontal;
    //border: 1px dashed;
    //overflow: auto;
    max-width: 1200px;
    //height: calc(100vh - 16px);
    position: relative;
}
#gamepanel {
    width: 100%;
    padding-bottom: 56.25%;
}

#gamepanel-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#gameloading-wrapper {
    background-color: #eee;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#gameloading > * {
    display: flex;
    align-items: center;
    justify-content: center;
}
#gamepanel-wrapper > iframe {
}

#wrapper-header {
    z-index: 5;
}

#wrapper-content {
    z-index: 5;
}
#wrapper-freeform {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

#queue-panel {
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    z-index: 6;
    // transition: height 500ms ease;
    pointer-events: none;
    user-select: none;
    // transition: transform 0.5s ease;
    // transform: translateY(60px);
}

#queue-header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    pointer-events: none;
}

@-webkit-keyframes line-scale-pulse-out-rapid {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3);
    }
    90% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}

@keyframes line-scale-pulse-out-rapid {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3);
    }
    90% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}

#queue-loader {
    top: 2px;
    position: relative;
}
.line-scale-pulse-out-rapid > div {
    background-color: #fff;
    width: 2px;
    height: 20px;
    border-radius: 3px;
    margin: 1px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
    animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
}
.line-scale-pulse-out-rapid > div:nth-child(2),
.line-scale-pulse-out-rapid > div:nth-child(4) {
    -webkit-animation-delay: -0.25s !important;
    animation-delay: -0.25s !important;
}
.line-scale-pulse-out-rapid > div:nth-child(1),
.line-scale-pulse-out-rapid > div:nth-child(5) {
    -webkit-animation-delay: 0s !important;
    animation-delay: 0s !important;
}

#queue-header-content {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow: visible;
    // width: 30px;
    // border-top: 2px solid #333;
}

#queue-tab {
    height: 41px;
    border: 1px solid #aaa;
    border-bottom: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 200px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    pointer-events: auto;
    cursor: grab;
    bottom: -1px;
    z-index: 101;
}

#queue-tab-divet {
    position: absolute;
    top: 4px;
    left: 80px;
    width: 40px;
    height: 2px;
    border-bottom: 1px solid #aaa;
    background-color: #eee;
}

#queue-tab-cancel {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 20px;
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    pointer-events: auto;
    cursor: pointer;
}

#queue-searching {
    font-weight: bold;
    padding-right: 0.5rem;
}

#queue-content {
    background-color: #ccc;
    height: 160px;
    position: relative;
    z-index: 100;
    pointer-events: auto;
    border-top: 1px solid #aaa;
}

#queue-games ul {
    margin: 0;
    padding: 0;
    height: 60px;
}

#queue-games ul li {
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
}

.queue-game-title {
    display: inline-block;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.queue-game-mode {
    display: inline-block;
    padding: 0.2rem;
    background-color: #2c394b;
    color: #eee;
    border-radius: 4px;
    margin-right: 0.2rem;
}
