@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import './components/styles/constants.scss';

* {
    box-sizing: border-box;
}
html,
body,
#root,
#app {
    height: 100%;
    width: 100%;
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#wrapper-header {
    width: 100%;
    height: 3rem;
    background-color: #2c394b;
}

#wrapper-content {
    width: 100%;
    height: 100%;
}

#mainmenu {
    width: 92%;
    margin-left: 4%;
    height: 100%;
    position: relative;
    display: flex;
}

#mainmenu a {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 400;
    color: #dadada;
    background-color: #2c394b;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    transition: background-color 200ms;
}

#mainmenu a:hover {
    background-color: #334756;
    color: #fff;
}

@media screen and (max-width: 768px) {
    html,
    body {
        font-size: 14px;
    }
    #game-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    html,
    body {
        font-size: 12px;
    }

    #wrapper {
        position: relative;
    }
    #wrapper-header {
        position: fixed;
        z-index: 999;
        bottom: 0px;
        left: 0px;
    }
    #mainmenu {
        // width: 100%;
        // margin-left: 0;
        // flex-flow: row wrap;
    }
    #mainmenu a {
        // width: 100%;
    }

    #game-grid-wrapper {
        width: 80%;
    }
    #game-grid {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }
}

#game-grid-wrapper {
    width: 90%;
    margin: 0 auto;
}

#game-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

@media screen and (max-width: 700px) {
}
@media screen and (max-width: 400px) {
}

.game-item {
    width: 100%;
    height: 100%;
    padding: 0.3125rem;
    // margin-left: 10px;
    // margin-right: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 200ms;
}

.game-item:hover {
    transform: scale(1.1, 1.1);
}
.game-item:hover > .game-title {
    background-color: #ff4c29;
}
.game-item:hover > .game-title span {
}

.game-item img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.game-title {
    transition: background-color 400ms;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2rem;
    background-color: #2c394b;
    /* opacity: 0.2; */

    overflow: hidden;
    border-radius: 3px;
}

.game-title span {
    display: block;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 2rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.imagebox {
    width: 200px;
    height: 200px;
    margin-right: 0.5rem;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
}
.imagesrc {
    width: 100%;
    height: 100%;
}
.imageupload {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    bottom: 2rem;
    width: 100%;
    text-align: center;
}
.imageremove {
    position: absolute;
    height: 2rem;
    width: 100%;
    line-height: 2rem;
    bottom: 0;
    text-align: center;
}
.imagebox-dragging {
    border: 1px solid #f00;
}
.imagebox .imagesrc img {
    width: 100%;
    height: 100%;
}

.gamescreen {
    width: 100%;
    height: 100%;
    border: 0;
}

#gameframe {
    //padding: 10px;
    background: red;
    //box-sizing: border-box;
    //resize: horizontal;
    //border: 1px dashed;
    //overflow: auto;
    max-width: 1200px;
    //height: calc(100vh - 16px);
    position: relative;
}
#gamepanel {
    width: 100%;
    padding-bottom: 56.25%;
}

#gamepanel-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#gamepanel-wrapper > iframe {
}
